/* ---------------------------------------------- */
/*                  LOAD FONTS                    */
/* ---------------------------------------------- */
@font-face {
    font-family: 'Gilroy';
    src: url(./Gilroy-Regular.woff) format(woff);
}

/* ---------------------------------------------- */
/*                    GENERAL                     */
/* ---------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

html {
    font-size: 16px;
}

.hide {
    display: none;
}

.fadeIn {
    animation: fade 0.5s ease-in-out;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ---------------------------------------------- */
/*                    HEADER                      */
/* ---------------------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: #f3f2f2;
}

/* -------- LOGO -------- */
.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 40px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.logo P {
    font-size: 1.5rem;
    color: rgb(114, 45, 179);
}

.logo p span {
    margin-left: 10px;
    color: rgb(54, 136, 54);
}

/* -------- NAV -------- */
nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(114, 45, 179);
    font-weight: bold;
    padding: 10px 40px;
    transition: .5s ease;
}

nav ul li a:hover {
    border-bottom: 1px solid rgb(23, 124, 10);
    color: rgb(11, 49, 11);
}


/* ---------------------------------------------- */
/*                      MAIN                      */
/* ---------------------------------------------- */
main {
    max-width: 1200px;
    margin: 0 auto;
}

/* -------- BG IMAGE -------- */
.statistics {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .8)), url('../img/bg.jpg');
    background-size: cover;
    color: white;
}

/* -------- LATEST REPORT -------- */
.latest-report {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 50px;
}

.country,
.total-cases,
.recovered,
.deaths {
    width: 100%;
    padding: 10px;
}

.name {
    font-size: 2.5rem;
    color: rgb(114, 45, 179);
    font-weight: bold;
}

.change-country {
    cursor: pointer;
    display: inline;
    border-bottom:1px solid blue;
}

.search-country {
    position: relative;

}

.search-box {
    position: absolute;
    display: flex;
    height: 30px;
    width: 350px;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    background: transparent;
    border:1px solid white;
    border-radius: 12px;
}

.search-box input {
    width: 330px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-left: 2px solid white;
    border-radius: 10px;
    color: #fff;
    outline: none;
}

.search-box img {
    width: 20px;
    cursor: pointer;
}

.country-list {
    position: absolute;
    top: 30px;
    width: 350px;
    background-color: #000;
    opacity: .7;
    overflow: scroll;
    height: 300px;

    display: flex;
    justify-content: space-between;
}

.country-list li {
    list-style-type: none;
    padding: 10px;
    width:100px;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.596);
}

.country-list li:hover {
    border-left: 1px solid rgba(241, 240, 240, 0.438);
    color: #fff;
    cursor: pointer;
}


.title {
    font-size: 1.5rem;
    padding: 5px;
}

.total-cases .value {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    padding: 5px;
}

.recovered .value {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(70, 191, 207);
    padding: 5px;
}

.deaths .value {
    font-size: 2rem;
    font-weight: bold;
    color: crimson;
    padding: 5px;
}

/* -------- CHART -------- */
.chart{
    width:80%;
    height: 70vh;
    min-height: 500px;
    
    margin:0 auto;
    padding:50px 0;
}


/* SCROLL BAR */
/* width */
.country-list::-webkit-scrollbar {
    width:10px;
  }
  
  /* Track */
  .country-list::-webkit-scrollbar-track {
    background: #3d2c2c; 
  }
   
  /* Handle */
  .country-list::-webkit-scrollbar-thumb {
    background: rgb(184, 163, 163); 
  }
  
  /* Handle on hover */
  .country-list::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 69, 69); 
  }
/* ---------------------------------------------- */
/*                    FOOTER                      */
/* ---------------------------------------------- */
footer{
    max-width: 1200px;
    height: 40px;
    margin:0 auto;
    background-color:  rgb(114, 45, 179);;
}

footer .footer-container{
    width: 100%;
    height:7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color:white;
    font-size: .8rem;
}
footer p span{
    color:black;
    font-weight: bold;
}




/* ---------------------------------------------- */
/*             SCREEN WIDTH < 600px               */
/* ---------------------------------------------- */

@media screen and (max-width : 600px) {

    /* Header */
    .logo {
        display: flex;
        align-items: center;
        font-weight: bold;
        margin-left: 40px;
        justify-content: space-around;
    }

    .logo p {
        position: absolute;
        right: 50px;
    }

    nav {
        display: none;
    }

    .new-value {
        padding: 6px;

    }

    .name {
        margin-left: -50px;
        padding-bottom: 10px;
    }



}

@media screen and (max-width : 800px) {

    /* main->latest-report */
    .latest-report {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .name {
        margin-left: -50px;
        padding-bottom: 10px;
    }
}